@model FlightModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table class="table">
        <tr>
            <th>
                    @Html.DisplayNameFor(model => model.data[0].flight_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.data[0].flight_status)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.flight_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.flight_status)
                </td>
                <td>
                    @Html.ActionLink("Details", "Read", new { numVol=item.flight.number })
                </td>
            </tr>
        }
    </table>
</div>
